.cwp-duo-wysiwyg-layer {
  &__container {
    max-width: 64rem;
    margin: 0 auto;

    & > *:nth-child(even) {
      border-top: 1px solid #000;

      @media screen and (min-width: 768px) {
        border-top: 0;
        border-left: 1px solid #000;
      }
    }
  }

  &__main {
    padding: 1rem;
  }

  &__aside {
    background: #f5f5f5;
    padding: 1rem;
  }

  // modifiers
  // --------------------------------------------------------------------------
  &--large-main,
  &--large-aside,
  &--even-size {
    .cwp-duo-wysiwyg-layer__container {
      @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }
  }

  &--large-main {
    .cwp-duo-wysiwyg-layer__main {
      flex: 0 1 70%;
    }

    .cwp-duo-wysiwyg-layer__aside {
      flex: 0 1 30%;
    }
  }

  &--large-aside {
    .cwp-duo-wysiwyg-layer__main {
      flex: 0 1 30%;
    }

    .cwp-duo-wysiwyg-layer__aside {
      flex: 0 1 70%;
    }
  }

  &--even-size {
    .cwp-duo-wysiwyg-layer__main,
    .cwp-duo-wysiwyg-layer__aside {
      flex: 0 1 50%;
    }
  }

  &--flip-content-order {
    .cwp-duo-wysiwyg-layer__main {
      order: 2;
    }

    .cwp-duo-wysiwyg-layer__aside {
      order: 1;
    }

    .cwp-duo-wysiwyg-layer__container {
      & > *:nth-child(even) {
        border-top: 0;
  
        @media screen and (min-width: 768px) {
          border-left: 0;
        }
      }

      & > *:nth-child(odd) {
        border-top: 1px solid #000;
  
        @media screen and (min-width: 768px) {
          border-top: 0;
          border-left: 1px solid #000;
        }
      }
    }
  }
}
