{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Variables:
  - cwpf_content_main (wysiwyg)
  - cwpf_content_aside (wysiwyg)
  - cwpf_enable_aside_content (boolean string: 'Enable' or 'Disable')
  - cwpf_content_sizing (string)
  - cwpf_flip_content_order (boolean string: 'On' or 'Off')
#}

{%
  set classes = [
    'cwp-duo-wysiwyg-layer',
    content.cwpf_enable_aside_content[0]['#markup'] == 'Enable'
      ? content.cwpf_content_sizing[0]['#markup'],

    content.cwpf_flip_content_order[0]['#markup'] == 'On'
      and content.cwpf_enable_aside_content[0]['#markup'] == 'Enable'
        ? 'cwp-duo-wysiwyg-layer--flip-content-order',

    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{# If you're overriding, copy this template to your theme and remove this library #}
{{ attach_library('cwp_duo_wysiwyg_layer/cw-duo-wysiwig') }}

<section{{ attributes.addClass(classes) }}>
  <div class="cwp-duo-wysiwyg-layer__container">
    <article class="cwp-duo-wysiwyg-layer__main">
      {{ content.cwpf_content_main }}
    </article>

    {% if content.cwpf_enable_aside_content[0]['#markup'] == 'Enable' %}
      <aside class="cwp-duo-wysiwyg-layer__aside">
        {{ content.cwpf_content_aside }}
      </aside>
    {% endif %}
  </div>
</section>
